[submodule "themes/norn"]
	path = themes/norn
	url = https://github.com/stuartthomson/hugo-theme-norn.git
[submodule "public"]
	path = public
	url = https://github.com/stuartthomson/stuartthomson.github.io.git
	branch = master
